body{
    background-image:url('../images/background.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    background-color: #f8f8f8;
    padding: 20px;
}
.room:hover {
	cursor: pointer;
}

.p10 {
	padding: 10px 0px;
}

.right {
	float: right;
}

.dsnone {
	display: none;
}

.numofusers {
	text-align: right;
}

.msg {
	padding: 10px;
    border-top: 1px solid #ddd
}

.chat > textarea {
	width: 90%;
	display: inline-block;
}

.chat {
	margin-bottom: 40px;
}

.chat > button {
	width: 9%;
    vertical-align: top;
}

.messages {
    height: 400px;
    padding: 10px;

}

.panel-heading.row {
	margin: 0;
}

.panel-heading > .chat-name {
	font-size: 25px;
    font-weight: bold;
}